<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>CodeHub | Welcome to CodeHub
    </title>

    <!-- Font Icon -->
    <link
      rel="stylesheet"
      href="fonts/material-icon/css/material-design-iconic-font.min.css"
    />

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="main">
      <!-- Sing in  Form -->
      <section class="sign-in">
        <div class="container">
          <div class="signin-content">
            <div class="signin-image">
              <h2 class="form-title showcase-text">CodeHub</h2>
              <p class="showcase-text">
                Welcome to CodeHub the World of Developers. A place to save your project files, api keys, and other secret credentials
              </p>
              
              <a href="/login" class="signup-image-link"
                >Log in</a
              >
              <a href="/register" class="signup-image-link"
                >Create an account</a
              >
            </div>

          <div class="signin-form">
            <figure>
                <img src="images/home-image.jpg" alt="Home image" />
              </figure>
          </div>
        </div>
      </section>
    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
